<nav class="docs-nav">
  <div class="docs-home-link">
    <a href="/">ahad-notes</a>
  </div>

  <details>
    <summary>Plasma Physics</summary>
    <ul>
      <li><a href="/introductory-plasma-physics/">Introductory Plasma Physics</a></li>

      <li>
        <details open>
          <summary>Plasma Waves</summary>
          <ul>
            <li><a href="/plasma-waves/">Overview</a></li>
            <li><a href="/plasma-waves/EM-CPDR/">Solution Set 1: E&amp;M and CPDR</a></li>
            <li><a href="/plasma-waves/fluids/">Solution Set 2: Fluids</a></li>
            <li><a href="/plasma-waves/kinetics/">Solution Set 3: Kinetics</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </details>

  <details>
    <summary>Machine Learning</summary>
    <ul>
      <li><a href="#">Coming soon</a></li>
    </ul>
  </details>

  <details>
    <summary>Papers</summary>
    <ul>
      <li><a href="#">Coming soon</a></li>
    </ul>
  </details>
</nav>